*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

body,html{height:100%;overflow:hidden}

.page{
  width:100%;
  height:100vh;
  display:none;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

.page.active{display:flex}

/* LOGO PAGE */
#logoPage{
  background:linear-gradient(135deg,#029602,#14a1cc);
}

.logoTitle{
  color:#1f0468;
  font-size:40px;
  margin-bottom:20px;
}

.enterBtn{
  background:#b30a0a;
  padding:14px 30px;
  border:none;
  border-radius:12px;
  font-size:20px;
  cursor:pointer;
  transition:0.3s;
}

.enterBtn:hover{transform:scale(1.06);background:#1a0fbb}

/* TODO PAGE */
#todoPage{
  background:linear-gradient(135deg,#b6681f,#0e3864);
}

.app{
  width:90%;
  max-width:450px;
  background:#046311;
  padding:25px;
  border-radius:15px;
  box-shadow:0 6px 20px rgba(124, 95, 228, 0.15);
  text-align:center;
}

/* Input */
.inputArea{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.inputArea input{
  flex:1;
  padding:12px;
  font-size:16px;
  border-radius:8px;
  border:1px solid #ccc;
}

#addBtn{
  padding:10px 14px;
  background:#22026d;
  border:none;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}

/* Task List */
#taskList{
  margin-top:15px;
  list-style:none;
}

#taskList li{
  background:#eff0f1;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.text.completed{
  text-decoration:line-through;
  opacity:0.6;
}

.actions{display:flex;gap:8px}

.tick{
  background:#28a745;
  border:none;
  color:#fff;
  padding:8px 10px;
  border-radius:8px;
}

.delete{
  background:#e63946;
  border:none;
  color:#fff;
  padding:8px 10px;
  border-radius:8px;
}

.happyMsg{
  display:none;
  background:#28a745;
  color:#fff;
  padding:10px;
  border-radius:10px;
  margin-top:15px;
}

/* Mobile */
@media(max-width:480px){
  .inputArea{flex-direction:column}
  #addBtn{width:100%}
}
